.login {
    background-image: url('../image/login_mobile.png');
}

.login_item {
    width: 2.64rem;
    padding: .24rem .24rem .18rem .24rem;
    box-shadow: 0 0 .12rem 0 rgba(176, 176, 176, 0.5);
    border-radius: .11rem;
    max-width: 540px;
}

.login_item_logo {
    font-size: .12rem;
    line-height: .17rem;
    letter-spacing: .03rem;
    -webkit-text-stroke: .01rem #303030;
    text-stroke: .01rem #303030;
}

.login_item_field {
    font-size: .1rem;
    padding: .06rem .06rem .06rem .1rem;
}

.login_item_field input {
    height: 0.22rem;
}

.login_item_error_msg {
    color: #FF3B3B;
    font-size: .1rem;
    line-height: .12rem;
    padding-left: .1rem;
}

.login_item_field_verify {
    align-items: flex-end;
    width: .53rem;
    height: .18rem;
}

.login_item_note {
    font-size: .1rem;
    margin: .1rem .06rem 0 .12rem;
}

.login_item_submit-btn {
    margin-top: .18rem;
    padding-left: .2rem;
    padding-right: .2rem;
    height: .24rem;
    border-radius: .12rem;
    font-size: .1rem;
}

.login_item_info {
    margin-top: .12rem;
}

.avator_bg {
    width: 100%;
    height: .59rem;
    background: #B8E0EA url('../image/bg.png') no-repeat center;
}

.avator {
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    margin: -.3rem auto .1rem auto;
    background: #eee no-repeat center;
    background-size: cover;
    position: relative;
}
.avator-img{
    width:100%;
    height: 100%;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
}
.avator-edit{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: .10rem;
    background: #999;
    opacity: .8;
    /* line-height: .24rem; */
    width: 100%;
    color: #fff;
    text-align: center;
    height: .24rem;
}

.avator_note {
    width: .24rem;
    height: .18rem;
    font-size: .09rem;
    border-radius: .05rem;
    color: #303030;
    background-color: #FFE201;
    line-height: .18rem;
    text-align: center;
    position: absolute;
    left: .18rem;
    bottom: -.09rem;
    z-index: 5;
}

.user_name {
    font-size: .12rem;
    color: #303030;
}
.user_name input,.desc-container input{
    font-size: .12rem;
    /*width: 3rem;*/
    border: 1px solid #eee;
    padding: .05rem .1rem;
    border-radius: .5rem;
}
.desc-container input{
    width: 2rem;
}
.user_edit-icon {
    font-size: .09rem;
    color: #848484;
    margin-left: .13rem;
}

.school {
    color: #303030;
    font-size: .12rem;
    margin-top: .04rem;
    text-align: center;
}

.num-container {
    display: flex;
    justify-content: center;
    margin-top: .18rem;
}

.num-item {
    width: .81rem;
    height: .24rem;
    border-right: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.num-item:last-child {
    border: none;
}

.num-item_value {
    font-size: .1rem;
    line-height: .13rem;
    color: #040404;
}

.num-item_title {
    font-size: .07rem;
    line-height: .09rem;
    color: #848484;
}

.desc-container {
    line-height: .12rem;
    font-size: .09rem;
    width: calc(100% - .96rem);
    text-align: center;
    margin: .15rem auto 0 auto;
    color: #848484;
    position: relative;
    min-height: .12rem;
}

.desc:before {
    font-family: 'icomoon';
    color: #FFE201;
    content: "\e979";
    font-size: .07rem;
    position: absolute;
    left: -.17rem;
    top: 0;
}

.desc:after {
    font-family: 'icomoon';
    color: #FFE201;
    content: "\e97a";
    font-size: .07rem;
    position: absolute;
    right: -.12rem;
    top: 0;
}

.sub-title__cn {
    font-size: .13rem;
    line-height: .18rem;
}

.sub-title__en {
    font-size: .08rem;
    line-height: .11rem;
}

.sub-title_bottom {
    width: 100%;
    height: .03rem;
    margin-top: -.05rem;
}

.conversation-item {
    margin: 0 .29rem .12rem .24rem;
    clear: both;
}

.conversation-title {
    width: .4rem;
    height: .2rem;
    color: #303030;
    background-color: #FFE201;
    font-size: .12rem;
    line-height: .17rem;
    border-radius: .05rem;
    text-align: center;
    float: left;
}

.conversation-desc {
    color: #848484;
    font-size: .12rem;
    line-height: .17rem;
    margin-left: .5rem;
}

.evaluation-container {
    margin-top: .16rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.evaluation-item {
    width: 1.65rem;
    height: 1.02rem;
    background: #FFFFFF;
    box-shadow: 0 .01rem .08rem 0 rgba(203, 203, 203, .5);
    border-radius: .08rem;
    position: relative;
}

.evaluation-item_avator {
    position: absolute;
    top: -.19rem;
    left: .12rem;
    width: .39rem;
    height: .39rem;
    border-radius: 50%;
    background: #eee no-repeat center;
    background-size: cover;
}

.evaluation-item_username {
    font-size: .1rem;
    height: .2rem;
    padding-left: .59rem;
    color: #040404;
    display: flex;
    align-items: flex-end;
}

.evaluation-item_desc {
    color: #848484;
    font-size: .08rem;
    line-height: .11rem;
    height: .33rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: .12rem;
    position: relative;
}

.evaluation-item_bottom {
    height: .25rem;
    color: #848484;
    background: #F9F9F9;
    border-radius: 0 0 .08rem .08rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item_bottom .title {
    font-size: .08rem;
    line-height: .11rem;
}

.evaluation-item_bottom .value {
    font-size: .12rem;
    line-height: .17rem;
}

.evaluation-item__active {
    width: 1.76rem;
    height: 1.12rem;
    background: #FFFFFF;
    box-shadow: 0 .01rem .09rem 0 rgba(203, 203, 203, .5);
    border-radius: .09rem;
    position: relative;
}

.evaluation-item_avator__active {
    position: absolute;
    top: -.21rem;
    left: .13rem;
    width: .43rem;
    height: .43rem;
    border-radius: 50%;
    background: #eee no-repeat center;
    background-size: cover;
}

.evaluation-item_username__active {
    font-size: .11rem;
    height: .22rem;
    padding-left: .65rem;
    color: #040404;
    display: flex;
    align-items: flex-end;
}

.evaluation-item_desc__active {
    color: #848484;
    font-size: .09rem;
    line-height: .12rem;
    height: .36rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: .13rem .13rem .15rem .13rem;
    position: relative;
}

.evaluation-item_bottom__active {
    height: .27rem;
    background: #FFE201;
    border-radius: 0 0 .09rem .09rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item_bottom__active .title {
    color: #303030;
    font-size: .09rem;
    line-height: .12rem;
}

.evaluation-item_bottom__active .value {
    color: #040404;
    font-size: .13rem;
    line-height: .18rem;
}

.personal-center_tab-title-container {
    margin: .2rem .16rem .22rem .16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-title {
    font-size: .09rem;
    line-height: .12rem;
    color: #848484;
}

.tab-title__selected {
    display: inline-block;
    width: .6rem;
    height: .25rem;
    background-color: #FFE201;
    color: #303030;
    border-radius: .44rem;
    font-size: .09rem;
    line-height: .25rem;
    text-align: center;
}

.personal-center-content {
    margin: 0 .16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.personal-center-content-fan {
    margin: 0 .16rem;
}

.personal-center-fan{
    margin-bottom: .2rem;
}
.personal-center-fan img{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}
.personal-center-fan span{
    font-size: .14rem;
    line-height: .5rem;
    margin-left: .1rem;
    color: #333;
}

.personal-center-image-submit,.personal-center-image-cancel{
    width: .6rem;
    height: .25rem;
    font-size: .09rem;
    line-height: .25rem;
}
.item-container {
    width: 1.65rem;
    height: 1.55rem;
    background: #FFFFFF;
    box-shadow: 0 0.01rem 0.07rem 0 rgba(203, 203, 203, 0.5);
    border-radius: 0.08rem;
    margin-bottom: .16rem;
}

.image-container {
    width: 100%;
    height: 1.07rem;
    border-radius: .08rem .08rem 0 0;
    background-color: #eeeeee;
    position: relative;
}

.image-container_bottom {
    text-align: center;
    font-size: .06rem;
    line-height: .15rem;
    height: .15rem;
    padding-left: .03rem;
    padding-right: .03rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    bottom: 0;
}

.word-container {
    padding: .08rem .08rem .2rem .08rem;
    border-radius: 0 0 .08rem .08rem;
}

.word-desc {
    font-size: .08rem;
    line-height: .12rem;
    color: #303030;
    margin-bottom: .07rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-note {
    font-size: .06rem;
    line-height: .09rem;
    color: #848484;
}

.word-note .title {
    margin-right: .04rem;
}

.word-note .value {
    margin-right: .12rem;
}

.know-btn {
    width: calc(100% - .46rem);
    height: .4rem;
    border-radius: .44rem;
    background-color: #FFE201;
    color: #303030;
    font-size: .1rem;
    line-height: .14rem;
    display: inline-block;
    margin: .3rem .23rem .27rem .23rem;
    border: 0;
}
/* 弹窗-modal */
.modal-contain{
    background: transparent;
    width:3.43rem;
    height: 4.29rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
}
.mb9{
    margin-bottom: .09rem;
}
.mb10{
    margin-bottom: .1rem;
}
.mb13{
    margin-bottom: .13rem;
}
.mb15{
    margin-bottom: .15rem;
}
.mb16{
    margin-bottom: .16rem;
}
.mb46{
    margin-bottom: .46rem;
}
.modal {
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:rgba(255,255,255,1);
    width: 3.43rem;
    height: 3.75rem;
    border-radius: .2rem;
    padding: .22rem .18rem .44rem .16rem;
    margin-bottom: .24rem;
}
.alert-text{
    position: absolute;
    top: .1rem;
    left: .2rem;
    border: 1px solid #848484;
    padding: .05rem .1rem;
    color: #ff0000;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 9998;
}

.ipt-wrap{
    width:100%;
    /*height: .22rem;*/
}
.ph-text{
    color:rgba(48,48,48,1);
    border: none;
    outline: none;
    padding: 0;
    margin: 0 0 .09rem 0;
    width:100%;
    font-weight:400;
    font-size:.09rem;
    line-height:.13rem;
    float: left;
}
.ipt-line{
    /*display: block;*/
    /*content: '';*/
    border:1px solid rgba(216,216,216,1);
    width:100%;
    clear: both;
}

.li-text:before{
    content: "\2022";
    color: rgba(255,226,1,1);
    margin-right: .2rem;
    width:.08rem;
    height:.08rem;
}
.add-line{
    width:100%;
}
.add-line img,.less-btn{
    float: right;
    width:.18rem;
    height:.18rem;
    margin-bottom: .07rem;
}
.add-line:after{
    clear: both;
    display: block;
    content: '';
    border:1px solid rgba(255,226,1,1);
    width:100%;
}

.close-bottom{
    width: 100%;
    text-align: center;
}
.close-bottom img{
    width: .3rem;
    height: .3rem;
}
.l-text{
    font-weight:500;
    color:rgba(48,48,48,1);
}
.li-text{
    font-weight:400;
    color:rgba(132,132,132,1);
}

.l-text,.li-text{
    font-size:.09rem;
    line-height:.13rem;
}

.li-text:before{
    content: "\2022";
    color: rgba(255,226,1,1);
    display: inline-block;
    width: .03rem;
    height: .03rem;
    margin-right: .05rem;
}
.m-button{
    background:rgba(255,226,1,1);
    border-radius:.31rem;
    padding:.09rem .36rem;
    font-size:.09rem;
    font-weight:500;
    line-height: .13rem;
    color:rgba(14,14,14,1);
}


/*.modal.modal-radio{*/
    /*height: 2.06rem;*/
    /*width: 3.43rem;*/
/*}*/

.radio-wrap{
    margin-top: .11rem;
    margin-left: .16rem;
}

.modal-radio{
    display: block;
    cursor: pointer;
    position: relative;
    font-size:.09rem;
    font-weight:500;
    color:rgba(48,48,48,1);
    line-height:.13rem;
}
.modal-radio:first-child{
    margin-bottom: .2rem;
}
.modal-radio input{
    display: none;
}

.modal-radio .radio-style{
    position: absolute;
    left: 0;
    top: 0;
    width: .14rem;
    height: .14rem;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #848484;
}

.modal-radio span{
    margin-left: .3rem;
}

.modal-radio input:checked+.radio-style{
    background: #FFE201;
    border-color: #FFE201;
}

.paysuc-contain{
    width: 100%;
    margin-top: .18rem;
    margin-bottom: .19rem;
    font-weight:500;
    color:rgba(14,14,14,1);
    height:.35rem;
    font-size:.18rem;
    line-height:.25rem;
}
.paysuc-contain img{
    width: .49rem;
    height: .35rem;
    margin-bottom: .19rem;
}

.home-carousel-container {
    position: relative;
    height: 2rem;
    overflow: hidden;
}

.home-carousel-image {
    height: 2rem;
    background: #eee no-repeat center;
    background-size: cover;
}

.home-carousel-btns {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

.home-carousel-btns button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    outline: 0;
    width: .06rem;
    height: .06rem;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 .08rem .08rem 0 rgba(45, 45, 45, 0.21);
    border-radius: 50%;
    border: 0;
    margin-right: .12rem;
}

.home-carousel-btns button.selected {
    background: #FFE201;
}

.left-btn {
    outline: none;
    width: .18rem;
    height: .18rem;
    position: absolute;
    top: 50%;
    left: 15px;
    background: url("../image/left.png") no-repeat center;
    background-size: cover;
}

.left-btn:hover {
    outline: none;
    background: url("../image/left_hover.png");
    background-size: cover;
}

.right-btn {
    outline: none;
    width: .18rem;
    height: .18rem;
    position: absolute;
    top: 50%;
    right: 15px;
    background: url("../image/right.png") no-repeat center;
    background-size: cover;
}

.right-btn:hover {
    outline: none;
    background: url("../image/right_hover.png");
    background-size: cover;
}

.home-student-container .student-image {
    width: .68rem;
    height: .91rem;
    border-radius: .04rem;
    display: block;
    background: #eee no-repeat center;
    background-size: cover;
}

.home-students {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-student-container .student-name {
    display: block;
    font-size: .06rem;
    line-height: .08rem;
    color: #040404;
    margin-top: .07rem;
    margin-bottom: .03rem;
    text-align: center;
}

.home-student-container .student-college {
    display: block;
    font-size: .05rem;
    line-height: .08rem;
    color: #848484;
    text-align: center;
}

.home-student-container:hover .student-image{
    width: .86rem;
    height: 1.14rem;
    border-radius: .05rem;
    position: relative;
}

.student-desc {
    display: none;
}

.home-student-container:hover .student-desc{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 .05rem .05rem;
    background: rgba(63, 63, 63, .52);
    box-shadow: 0 .01rem .05rem 0 rgba(123, 123, 123, 0.5);
    padding: .06rem .08rem;
    font-size: .05rem;
    line-height: .07rem;
    color: white;
}

.home-see-more-container {
    text-align: center;
    font-size: .04rem;
    line-height: .05rem;
    margin-top: .12rem;
}

.home-see-more {
    display: inline-block;
    color: #0E0E0E;
    background-color: #FFE201;
    padding: .06rem .12rem;
    text-align: center;
    border-radius: .2rem;
}