.login {
    background-image: url('../image/login_web.png');
}

.login_item {
    width: 4.4rem;
    padding: 0.4rem 0.4rem 0.3rem 0.4rem;
    box-shadow: 0 0 .2rem 0 rgba(176, 176, 176, 0.5);
    border-radius: .19rem;
    min-width: 293px;
}

.login_item_logo {
    font-size: .2rem;
    line-height: .28rem;
    letter-spacing: .06rem;
    -webkit-text-stroke: .02rem #303030;
    text-stroke: .02rem #303030;
}

.login_item_field {
    font-size: .16rem;
    padding: .08rem .1rem .08rem .17rem;
}

.login_item_field input {
    height: 0.4rem;
}

.login_item_error_msg {
    color: #FF3B3B;
    font-size: .12rem;
    line-height: .17rem;
    padding-left: .17rem;
}

.login_item_field_verify {
    align-items: flex-end;
    width: .88rem;
    height: .3rem;
    cursor: pointer;
}

.login_item_note {
    font-size: 12px;
    margin: .2rem .1rem 0 .17rem;
}

.login_item_submit-btn {
    margin-top: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
    height: .4rem;
    border-radius: .2rem;
    font-size: .16rem;
}

.login_item_info {
    margin-top: .2rem;
}

.avator_bg {
    width: 100%;
    height: 3rem;
    background: #B8E0EA no-repeat center;
    background-size: cover;
}

.avator {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: -1rem auto .4rem auto;
    background: #eee no-repeat center;
    background-size: cover;
    position: relative;
}
.avator-img{
    width:100%;
    height:100%;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
}
.avator_note {
    width: .8rem;
    height: .6rem;
    font-size: .3rem;
    border-radius: .16rem;
    color: #303030;
    background-color: #FFE201;
    line-height: .6rem;
    text-align: center;
    position: absolute;
    left: .6rem;
    bottom: -.3rem;
    z-index: 5;
}
.pic-edit{
    display: inline-block;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    font-size: .2rem;
    font-weight: 400;
    color: rgba(255,255,255,1);
}
.user-info-edit-confirm{
    width: 1.27rem;
    height: .51rem;
    background: rgba(255,226,1,1);
    border-radius: .31rem;
    font-size: .2rem;
    font-weight: 500;
    color: rgba(14,14,14,1);
    line-height: .51rem;
    text-align: center;
    margin-top: .4rem;
}
.user_name {
    font-size: .4rem;
    color: #303030;
    margin: 0 .5rem;
}
.user_name input{
    caret-color:rgba(255,226,1,1);
    font-size: .4rem;
     width: 3rem;
    border-bottom: 1px solid rgba(255,226,1,1);
    font-weight: 500;
    line-height: .56rem;
    text-align: center;
}
.desc-container textarea{
    font-size: .2rem;
    font-weight: 400;
    color: rgba(132,132,132,1);
    line-height: .28rem;
    border-bottom: 1px solid rgba(216,216,216,1);
    text-align: center;
    width: 85%;
    padding-bottom: .06rem;
}

.desc-container .jee-quote-left{
    margin-right: .4rem;
    color:rgba(255,226,1,1);

}
.desc-container .jee-quote-right{
    margin-left: .4rem;
    color:rgba(255,226,1,1);

}
.user_edit-icon {
    font-size: .32rem;
    color: #848484;
}

.user_know-btn {
    width: 1.27rem;
    line-height: .51rem;
    border-radius: .31rem;
    font-size: .2rem;
    text-align: center;
    color: #0E0E0E;
    background-color: #FFE201;
    cursor: pointer;
}

.school {
    color: #303030;
    font-size: .24rem;
    margin-top: .2rem;
    text-align: center;
}

.desc-container {
    text-align: center;
    line-height: .28rem;
    font-size: .2rem;
    width: calc(100% - 10rem);
    margin: .35rem auto 0 auto;
    color: #848484;
    position: relative;
    min-height: .28rem;
}

/*.desc:before {*/
    /*font-family: 'icomoon';*/
    /*color: #FFE201;*/
    /*content: "\e979";*/
    /*font-size: .11rem;*/
    /*position: absolute;*/
    /*left: -.4rem;*/
    /*top: 0;*/
/*}*/

/*.desc:after {*/
    /*font-family: 'icomoon';*/
    /*color: #FFE201;*/
    /*content: "\e97a";*/
    /*font-size: .11rem;*/
    /*position: absolute;*/
    /*right: -.4rem;*/
    /*top: 0;*/
/*}*/

.num-container {
    display: flex;
    justify-content: center;
    margin-top: .4rem;
}

.num-item {
    width: 3.58rem;
    height: .72rem;
    border-right: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.num-item:last-child {
    border: none;
}

.num-item_value {
    font-size: .3rem;
    color: #040404;
}

.num-item_title {
    font-size: .2rem;
    color: #848484;
}

.sub-title__cn {
    font-size: .4rem;
    line-height: .56rem;
}

.sub-title__en {
    font-size: .31rem;
    line-height: .42rem;
}

.sub-title_bottom {
    width: 100%;
    height: .11rem;
    margin-top: -.13rem;
}

.conversation-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conversation-item {
    display: flex;
    width: 5.85rem;
    justify-content: center;
    align-items: center;
}

.conversation-title {
    width: 1rem;
    height: .6rem;
    color: #303030;
    background-color: #FFE201;
    font-size: .31rem;
    line-height: .6rem;
    border-radius: .1rem;
    text-align: center;
}

.conversation-desc {
    width: 3.92rem;
    color: #848484;
    font-size: .22rem;
    line-height: .3rem;
    margin-left: .2rem;
}

.evaluation-container {
    margin-top: .7rem;
    margin-bottom: 1.55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item {
     width: 4rem;
     height: 2.51rem;
     background: #FFFFFF;
     box-shadow: 0 .02rem .2rem 0 rgba(203, 203, 203, .5);
     border-radius: .2rem;
     position: relative;
 }

.evaluation-item_avator {
    position: absolute;
    top: -.49rem;
    left: .3rem;
    width: .98rem;
    height: .98rem;
    border-radius: 50%;
    background: #eee no-repeat center;
    background-size: cover;
}

.evaluation-item_username {
    font-size: .24rem;
    height: .49rem;
    padding-left: 1.48rem;
    color: #040404;
    display: flex;
    align-items: flex-end;
}

.evaluation-item_desc {
    color: #848484;
    font-size: .2rem;
    line-height: .28rem;
    height: .8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: .3rem;
    position: relative;
}

.evaluation-item_bottom {
    height: .62rem;
    color: #848484;
    background: #F9F9F9;
    border-radius: 0 0 .2rem .2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item_bottom .title {
    font-size: .2rem;
    line-height: .28rem;
}

.evaluation-item_bottom .value {
    font-size: .3rem;
    line-height: .42rem;
}

.evaluation-item__active {
    width: 4.4rem;
    height: 2.6rem;
    background: #FFFFFF;
    box-shadow: 0 .02rem .22rem 0 rgba(203, 203, 203, .5);
    border-radius: .22rem;
    position: relative;
}

.evaluation-item_avator__active {
    position: absolute;
    top: -.54rem;
    left: .33rem;
    width: 1.08rem;
    height: 1.08rem;
    border-radius: 50%;
    background: #eee no-repeat center;
    background-size: cover;
}

.evaluation-item_username__active {
    font-size: .26rem;
    height: .54rem;
    padding-left: 1.63rem;
    color: #040404;
    display: flex;
    align-items: flex-end;
}

.evaluation-item_desc__active {
    color: #848484;
    font-size: .22rem;
    line-height: .3rem;
    height: .88rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: .32rem .32rem .35rem .33rem;
    position: relative;
}

.evaluation-item_bottom__active {
    height: .68rem;
    background: #FFE201;
    border-radius: 0 0 .22rem .22rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item_bottom__active .title {
    color: #303030;
    font-size: .22rem;
    line-height: .3rem;
}

.evaluation-item_bottom__active .value {
    color: #040404;
    font-size: .33rem;
    line-height: .46rem;
}

.personal-center_tab-title-container {
    margin: .6rem 3.97rem .6rem 3.97rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tab-title__selected,.tab-title{
    margin-right: .26rem;
    display: inline-block;
    width: 1.8rem;
    height: .6rem;
    text-align: center;
    box-sizing: border-box;
    font-size: .24rem;
    line-height: .6rem;
}
.tab-title {
    /*line-height: .33rem;*/
    color: #848484;
}

.personal-center_small-tabs{
    width:3.2rem;
    height:.6rem;
    background:rgba(255,255,255,1);
    box-shadow:0 0 .04rem 0 rgba(189,189,189,0.5);
    border-radius:.44rem;
    margin: .6rem 3.97rem .6rem 3.97rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tab-title__selected {
    background-color: #FFE201;
    color: #303030;
    border-radius: .44rem;
    /*line-height: .6rem;*/
}
.personal-center_small-tabs .tab-title__selected,.personal-center_small-tabs .tab-title{
    margin-right: 0;
}
.personal-center-content {
    margin: 0 2.95rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.personal-center-content-fan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1.3rem 0 2.54rem;
}

.personal-center-fan{
    margin-bottom: .2rem;
}
.personal-center-fan img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.personal-center-fan span{
    font-size: .3rem;
    line-height: 1.5rem;
    margin-left: .8rem;
    color: #333;
}

.item-container {
    width: 4.1rem;
    height: 3.86rem;
    background: #FFFFFF;
    box-shadow: 0 0.02rem 0.16rem 0 rgba(203, 203, 203, 0.5);
    border-radius: 0.2rem;
    margin-bottom: .6rem;
}

.image-container {
    width: 100%;
    height: 2.66rem;
    border-radius: .2rem .2rem 0 0;
    background-color: #eeeeee;
    position: relative;
}

.image-container_bottom {
    text-align: center;
    font-size: .16rem;
    line-height: .38rem;
    height: .38rem;
    padding-left: .06rem;
    padding-right: .06rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    bottom: 0;
}

.word-container {
    padding: .2rem .2rem .3rem .2rem;
    border-radius: 0 0 .2rem .2rem;
}

.word-desc {
    font-size: .2rem;
    line-height: .28rem;
    color: #303030;
    margin-bottom: .2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-note {
    font-size: .16rem;
    line-height: .22rem;
    color: #848484;
}

.word-note .title {
    margin-right: .1rem;
}

.word-note .value {
    margin-right: .3rem;
}

/* 弹窗-Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
    background:rgba(255,255,255,1);
    width: 8.97rem;
    max-height: 9.65rem;
    border-radius: .2rem;
    padding: .3rem .3rem .8rem .8rem;;
    box-shadow:0 .02rem .2rem 0 rgba(183,183,183,0.5);
}
.alert-text{
    position: absolute;
    top: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    border-radius: .1rem;
    font-size: .3rem;
    left: .2rem;
    padding: .1rem .2rem;
    color: #fff;
    background: rgba(255,226,1,1);
}

.modal-content {
    margin: .3rem .5rem 0 0;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 9998;
}
.l-text{
    font-weight:500;
    color:rgba(48,48,48,1);
    font-size:.3rem;
    line-height:.42rem;
}

.mb20{
    margin-bottom:.2rem;
}
.mb25{
    margin-bottom:.25rem;
}
.mb28{
    margin-bottom:.28rem;
}
.mb30{
    margin-bottom:.3rem;
}
.mt42{
    margin-top:.42rem;
}
.m-button{
    background:rgba(255,226,1,1);
    border-radius:.31rem;
    padding:.12rem .23rem;
    font-size:.2rem;
    font-weight:500;
    color:rgba(14,14,14,1);
}
.m-text{
    font-weight:400;
    color:rgba(48,48,48,1);
    font-size:.2rem;
    line-height:.28rem;
}
ul.li-style{
    list-style: circle;
}
.li-text{
    font-weight:400;
    color:rgba(132,132,132,1);
    font-size:.2rem;
    line-height:.28rem;
}

.close-topRight{
    width: .3rem;
    height: .3rem;
    float: right;
    display: block;
}
.close-topRight img{
    width: 100%;
}
.ipt-wrap{
    width:100%;
    margin-bottom: .28rem;
}
.ph-text{
    color:rgba(48,48,48,1);
    border: none;
    outline: none;
    width:100%;
    font-weight:400;
    font-size:.2rem;
    line-height:.28rem;
}
.ipt-wrap:after{
    display: block;
    content: '';
    border:1px solid rgba(216,216,216,1);
    width:100%;
    margin-top: .2rem;
}

.li-text:before{
    content: "\2022";
    color: rgba(255,226,1,1);
    margin-right: .2rem;
    width:.08rem;
    height:.08rem;
}

.add-line{
    width:100%;
    position: relative;
}

.add-line img{
    float: right;
    width:.33rem;
    height:.33rem;
    margin-bottom: .19rem;
    position: relative;
    z-index: 10;
}
.add-line input{
    /*float: left;*/
    position: absolute;
    top:0;
    left: 0;
}

.add-line:after{
    clear: both;
    display: block;
    content: '';
    border:1px solid rgba(255,226,1,1);
    width:100%;
}

.radio-wrap{
    margin-top: .59rem;
    margin-bottom: .8rem;
}

.modal-radio{
    display: block;
    cursor: pointer;
    position: relative;
    font-size:.3rem;
    font-weight:500;
    color:rgba(48,48,48,1);
    line-height:.42rem;
}
.modal-radio:first-child{
    margin-bottom: .41rem;
}
.modal-radio input{
    display: none;
}
.modal-radio .radio-style{
    position: absolute;
    left: 0;
    top: 0;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #848484;
}

.modal-radio span{
    margin-left: .9rem;
}

.modal-radio input:checked+.radio-style{
    background: #FFE201;
    border-color: #FFE201;
}

.paysuc-contain{
    width: 100%;
    margin-top: .61rem;
    margin-bottom: .8rem;
    font-size:.3rem;
    font-weight:500;
    color:rgba(14,14,14,1);
    line-height:.42rem;
}

.home-carousel-container {
    position: relative;
    height: 6.8rem;
    overflow: hidden;
}

.home-carousel-image {
    height: 6.8rem;
    background: #eee no-repeat center;
    background-size: cover;
}

.home-carousel-btns {
    position: absolute;
    width: 100%;
    bottom: .3rem;
    left: 0;
    text-align: center;
}

.home-carousel-btns button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    outline: 0;
    width: .2rem;
    height: .2rem;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 .02rem .02rem 0 rgba(45, 45, 45, 0.21);
    border-radius: 50%;
    border: 0;
    margin-right: .3rem;
}

.home-carousel-btns button.selected {
    background: #FFE201;
}

.left-btn {
    outline: none;
    width: .9rem;
    height: .9rem;
    position: absolute;
    top: 50%;
    left: 85px;
    background: url("../image/left.png") no-repeat center;
    background-size: cover;
}

.left-btn:hover {
    outline: none;
    background: url("../image/left_hover.png");
    background-size: cover;
    cursor: pointer;
}

.right-btn {
    outline: none;
    width: .9rem;
    height: .9rem;
    position: absolute;
    top: 50%;
    right: 85px;
    background: url("../image/right.png") no-repeat center;
    background-size: cover;
}

.right-btn:hover {
    outline: none;
    background: url("../image/right_hover.png");
    background-size: cover;
    cursor: pointer;
}

.home-student-container .student-image {
    width: 2.68rem;
    height: 3.58rem;
    border-radius: .16rem;
    display: block;
    background: #eee no-repeat center;
    background-size: cover;
}

.home-students {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-student-container .student-name {
    display: block;
    font-size: .3rem;
    line-height: .42rem;
    color: #040404;
    margin-top: .23rem;
    margin-bottom: .1rem;
    text-align: center;
}

.home-student-container .student-college {
    display: block;
    font-size: .2rem;
    line-height: .29rem;
    color: #848484;
    text-align: center;
}

.home-student-container:hover .student-image{
    width: 3.36rem;
    height: 4.48rem;
    border-radius: .2rem;
    position: relative;
}

.student-desc {
    display: none;
}

.home-student-container:hover .student-desc{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 .2rem .2rem;
    background: rgba(63, 63, 63, .52);
    box-shadow: 0 .02rem .2rem 0 rgba(123, 123, 123, 0.5);
    padding: .2rem .32rem;
    font-size: .2rem;
    line-height: .3rem;
    color: white;
}

.home-see-more-container {
    text-align: center;
    font-size: .24rem;
    line-height: .32rem;
    margin-top: .6rem;
}

.home-see-more {
    display: inline-block;
    color: #0E0E0E;
    background-color: #FFE201;
    padding: .1rem .2rem;
    text-align: center;
    border-radius: .6rem;
}

.header-wrap-small{
    display: none;
}
.header-wrap{
    display: block;
}
.header-user{
    margin-left: .1rem;
    font-size:.2rem;
    line-height:.28rem;
}
.header-user img{
    width: .4rem;
    height: .4rem;
    margin-right: .1rem;
}
.header-personal-list{
    /*width: 1.8rem;*/
    /*height: 1.46rem;*/
    margin-top: .16rem;
    left: -.4rem;
    padding: .2rem .38rem;
    font-size: .16rem;
    line-height: .22rem;
}
.header-notice{
    padding: 0 0.08rem;
    display: inline-block;
    background: rgba(255,226,1,1);
    border-radius: .1rem;
    font-size: .14rem;
    font-weight: 400;
    color: rgba(48,48,48,1);
    line-height: .2rem;
    margin-left: .1rem;
    text-align: center;
}

.footer-list, .footer-contact{
    font-size: .2em;
    line-height: .2rem;
    margin-bottom: .3rem;
}
.footer-contain {
    margin-top: .72rem;
    padding: .5rem 0 .2rem 0;
}
.footer-contact li:nth-child(even){
    margin: 0 .5rem;
}
.footer-line {
    margin: 0 auto .3rem;
}
.footer-desc{
    font-size:.16em;
    margin-bottom: .16rem;
    line-height: .18rem;
}
.footer-list li:nth-child(even), .footer-contact li:nth-child(even){
    height:.2rem;
    margin: 0 .21rem;
}
.footer-contact .img-big{
    display: inline-block;
}
.footer-contact .img-small{
    display: none;
}

/* 图片轮播 */
.carousel-wrap{
    height: 10.8rem;
}
.next-btn,.pre-btn{
    width: 0.91rem;
    height: 0.91rem;
}
.pre-btn{
    left:.85rem;
}
.arrows{
    width: .91rem;
    height: .91rem;
}
.next-btn{
    right:.84rem;
}
.img-list img{
    height:10.8rem;
}
.itemCnt-wrap{
    top: 2.99rem;
    right: 1.49rem;
    width: 8.11rem;
}
.item-title{
    font-size:.64rem;
    line-height:.9rem;
}
.item-time,.item-desc{
    font-size:.3rem;
    line-height:.42rem;
}
.item-time{
    margin: .31rem 0 .58rem;
}
.circle-btn button{
    width:16px;
    height:16px;
    margin-right: .27rem;
}

.stShow-title{
    margin-top: .6rem;
    font-size:.43rem;
    line-height:.6rem;
}

.stShow-subtitle{
    margin-top: .16rem;
    font-size:.31rem;
    line-height:.42rem;
}

.stShow-subtitle:after{
    height:.11rem;
    max-width: 2.5rem;
    margin: -.15rem auto .6rem;
}

.person-pic{
    width:2.68rem;
    height:3.58rem;
    border-radius:.16rem;
}
.stu-desc{
    padding: .21rem .35rem .18rem .32rem;
    box-shadow:0 .02rem .2rem 0 rgba(123,123,123,0.5);
    border-radius:0 0 .2rem .2rem;
    font-size:.2rem;
    line-height:.29rem;
    bottom: -2rem;
}
.card-list{
    /*max-width: 125%;*/
    margin-bottom: .63rem;
    /*margin-left: -12%;*/
}
.card-list li{
    margin: 0 .3rem;
    padding-top: .45rem;
}
/*.card-list li.active .person-pic{*/
.card-list li:hover .person-pic{
    width:3.36rem;
    height:4.48rem;
}

.person-name{
    white-space: nowrap;
    margin-top: .21rem;
    font-size:.3rem;
    line-height:.42rem;
    color: #000;
}
.person-uni{
    margin-top: .1rem;
    font-size:.2rem;
    line-height:.29rem;
}

.cards-more{
    white-space: nowrap;
    padding: .11rem .23rem;
    border-radius:.31rem;
    font-size:.2rem;
    line-height: .28rem;
    margin: 0 auto .72rem;
    max-width: 1.27rem;
}

/* 学校列表-筛选搜索栏 */
.filter-wrap{
    margin: .5rem 1.3rem .68rem 1.3rem;
}

.nation-list{
    float: left;
}
.nation-title,.nation-item{
    padding: .15rem .2rem;
    font-size:.16rem;
    line-height:.22rem;
    margin-right: .12rem;
}
.nation-title{
    padding:.15rem 0;
    font-size:.2rem;
    margin-right: .15rem;
}
.nation-item img{
    margin-right: .05rem;
    width:.2rem;
    height:.2rem;
}
.nation-item.active{
    box-shadow:0 .02rem .1rem 0 rgba(209,209,209,0.5);
    border-radius:25px;
}
.search-wrap{
    cursor: pointer;
    float: right;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

.search-wrap input{
    width: 0;
    box-shadow: 0 0 .08rem 0 rgba(197,197,197,0.5);
    border-radius:.3rem;
    padding: .09rem .2rem;
    font-size: .16rem;
    line-height: .22rem;
    transition: all .5s linear;
}
.search-wrap input.active{
    width: auto;
}

.search-wrap img{
    width:.4rem;
    height: 100%;
}
/* 学校列表 */
.container{
    padding: .71rem 1.57rem .8rem 1.93rem;
}
.col-l-4{
    width: 25%;
}
.card{
    display: inline-block;
    margin-bottom: .77rem;
    width: 2.67rem;
}
.card img{
    width: 1.1rem;
    height: 1.1rem;
}
.card-name,.card-eName{
    font-size:.2rem;
    line-height:.28rem;
}
.card-name{
    margin:.2rem auto 0;
}
.card-eName{
    margin-top: .09rem;
}
/*换页签*/
.page-num{
    font-size: .16rem;
    min-width:.38rem;
    min-height: .38rem;
    padding:.08rem .16rem;
    line-height: .22rem !important;
    margin: 0 .05rem;
}

/* 学校详情 */
.uni-banner{
    height: 5.16rem;
}
.headcnt-wrap{
    height: 5.16rem;
    padding: 1.3rem 4.44rem .94rem;
}
.uni-name{
    font-size:.45rem;
    line-height:.63rem;
}
.uni-ename{
    font-size:.42rem;
    line-height:.59rem;
    margin: .2rem 0 .6rem;
}
.nui-text{
    font-size:.2rem;
    line-height:.28rem;
    margin: 0 .3rem;
}
.uni-desc .jee-quote-left,.uni-desc .jee-quote-right{
    font-size: .4rem;
}

/* 学生信息卡 */

.stus-container{
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.stu-info{
    width:8rem;
    height:4.48rem;
    box-shadow:0 .02rem .2rem 0 rgba(203,203,203,0.5);
    border-radius:.2rem;
    margin: .3rem 0;
}
.left-pic{
    border-radius: .2rem;
    margin-right: .5rem;
    width:3.36rem;
}

.right-info {
    width: 3.55rem;
}

.right-info>.info-name{
    margin: .5rem 0 .12rem;
}
.info-name{
    font-size:.3rem;
    line-height:.42rem;
}
.info-data .info-name,.fl .info-name{
    margin-top:.34rem;
}
.info-intro{
    font-size:.2rem;
    line-height:.28rem;
}
.subject{
    margin-bottom: .1rem;
}
.subject-en{
    margin-bottom: .3rem;
}
.intro{
    margin-bottom: .34rem;
    margin-right: .61rem;
}
.info-data{
    margin-right: .78rem;
}
.corner-fraction{
    width:.8rem;
    height:.6rem;
    border-radius:0 .2rem 0 .2rem;
    font-size:.3rem;
    line-height:.6rem;
}

.pay_result-desc {
    color: #0E0E0E;
    font-size: .3rem;
    line-height: .42rem;
    margin-top: .3rem;
    margin-bottom: .8rem;
    text-align: center;
}

.back_home-btn {
    display: block;
    color: #0E0E0E;
    background-color: #FFE201;
    font-size: .2rem;
    line-height: .5rem;
    width: 1.3rem;
    height: .5rem;
    border-radius: .3rem;
    text-align: center;
    margin: 0 auto;
}

/*cropper*/

.class-cropper-modal{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-panel {
    width: 9.8rem;
    height: 6rem;
    background: white;
    padding: .2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.cropper-container-container{
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}
.cropper-container {
    flex: 2;
    padding-right: .2rem;
}
.cropper {
    width: 100%;
    height: 100%;
}
.preview-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: .2rem;
}
.cropper-preview {
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    border: 1px solid #383838;
}
.button-row {
    height: .5rem;
    flex-shrink: 0;
    margin-top: .2rem;
    display: flex;
    justify-content: center;
}
.submit-button {
    padding: 0 .2rem;
    width: 1.8rem;
    height: .6rem;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    font-size: .24rem;
    line-height: .6rem;
    background-color: #FFE201;
    color: #303030;
}
.cancel-button{
    padding: 0 .2rem;
    width: 1.8rem;
    height: .6rem;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    font-size: .24rem;
    line-height: .6rem;
    color: #848484;
    border: 1px solid #eee;
}

/*个人中心通知内容样式*/
.notice-contain{
    width: 50%;
    padding: .26rem .24rem .26rem .3rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: rgba(255,255,255,1);
    box-shadow: 0 0.02rem 0.16rem 0 rgba(203,203,203,0.5);
    border-radius: .2rem;
    box-sizing: border-box;
}
.notice-person{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notice-person img{
    width: .3rem;
    margin-right: .2rem;
    height: .3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.notice-person span.notice-name{
    margin-right: .1rem;
    font-size: .2rem;
    font-weight: 400;
    color: rgba(48,48,48,1);
    line-height: .36rem;
}
.notice-person span.notice-oper{
    font-size: .2rem;
    font-weight: 400;
    color: rgba(132,132,132,1);
    line-height: .36rem;
}
.notice-contain>span{
    font-size: .16rem;
    font-weight: 400;
    color: rgba(132,132,132,1);
    line-height: .36rem;
}
.notice-delete{
    position: absolute;
    left: 2.7rem;
    top: .28rem;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 .2rem 0 rgba(228,228,228,0.5);
    border-radius: .14rem;
    font-size: .16rem;
    font-weight: 400;
    color: rgba(132,132,132,1);
    line-height: .22rem;
    width: 1.44rem;
    height: 1.04rem;
    box-sizing: border-box;
    padding: .2rem .4rem;
}
.notice-delete li:first-child{
    margin-bottom: .2rem;
}
.notice-delete li:hover{
    color:#303030;
}

/*登出确认框*/
.logout-modal-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}
.logout-modal{
    margin: 4rem auto;
    width: 5.64rem;
    height: 3.33rem;
    background: rgba(255,255,255,1);
    box-shadow: 0 .02rem .2rem 0 rgba(183,183,183,0.5);
    border-radius: .2rem;
    padding: 1rem 1.32rem .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.logout-text{
    font-size:.3rem;
    font-weight:500;
    color:rgba(48,48,48,1);
    line-height:.42rem;
    margin-bottom: .6rem;
}
.logout-btn{
    display: flex;
    justify-content: space-between;
}
.logout-cancel,.logout-confirm{
    text-align: center;
    background: #fff;
    width:1.27rem;
    height:.51rem;
    border-radius:.31rem;
    font-size:.2rem;
    font-weight:500;
    color:rgba(14,14,14,1);
    line-height:.51rem;
}
.logout-confirm{
    border:1px solid rgba(48,48,48,1);
}
.logout-cancel{
    background:rgba(255,226,1,1);
}

/* 订单内容样式 */
.order-contain{
    width: 7.4rem;
    /*height: 4rem;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 .31rem 0 rgba(199,199,199,0.5);
    border-radius: .2rem;
    position: relative;
    margin-bottom: .4rem;
}
.order-title{
    height:.8rem;
    background:rgba(248,248,248,1);
    border-radius:.2rem .2rem 0 0;
    display: flex;
    justify-content: space-between;
    font-size:.24rem;
    font-weight:400;
    color:rgba(132,132,132,1);
    line-height:.8rem;
    padding: 0 .3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order-contain button{
    width:1.27rem;
    height:.51rem;
    border-radius:.31rem;
    font-size:.2rem;
    font-weight:400;
    line-height:.51rem;
    position: absolute;
    bottom: .3rem;
    right: .31rem;
    border: 0;
    color: #0E0E0E;
}
.order-evaluate{
    background:rgba(255,226,1,1);
}
.order-finish{
    border:1px solid rgba(132,132,132,1);
    color:rgba(132,132,132,1);
}
.order-content{
    height: 3.2rem;
    margin-top: .2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: .39rem;
    justify-content: space-between;
    box-sizing: border-box;
}
.line-label{
    white-space: nowrap;
    display: inline-block;
    margin-right: .2rem;
    margin-left: .3rem;
    font-size:.24rem;
    font-weight:400;
    color:rgba(132,132,132,1);
    line-height:.33rem;
}
.line-content,.order-question{
    overflow: hidden;
    width: 5.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .24rem;
    font-weight: 400;
    color: rgba(48,48,48,1);
    line-height: .33rem;
    margin-bottom: .2rem;
}
.order-question:before{
    display: inline-block;
    content: '';
    width:.08rem;
    height:.08rem;
    margin: 0 .13rem 0.07rem 0;
    background:rgba(255,226,1,1);
}
.question-forMore{
    margin: .28rem 0 .29rem .21rem;
    font-size: .16rem;
    font-weight: 400;
    color: rgba(132,132,132,1);
}
.order-question-contain{
    display: flex;
}
.order-finish{
    background-color: #FFE201;
}
/*订单弹出框*/
.order-detail-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}
.order-detail-modal .order-question-contain{
    margin-bottom: .19rem;
}
.order-detail-modal .order-contain{
    padding: .3rem .3rem .4rem .6rem;
    margin: 4rem auto;
    width: 8rem;
    height: 7.33rem;
}
.order-detail-modal li.order-question{
    display: flex;
    overflow: auto;
    width: 5rem;
    text-overflow: ellipsis;
    white-space: normal;
}
.order-detail-modal .order-question:before{
    margin: .13rem .11rem 0 0;
}
.order-contain button.order-modal-evaluate{
    background-color: #FFE201;
    position: relative;
    margin: .5rem auto 0;
    bottom: 0;
    top: 0;
}
.order-modal-close-topRight{
    width:100%;
}
.order-modal-close-topRight img{
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    float: right;
}
.order-modal-close-topRight:after{
    display: block;
    content: '';
    clear: both;
}
.order-detail-modal .line-label{
    margin-left: 0;
}
.order-detail-modal .flex-row-start{
    margin-bottom: .2rem;
}

.evaluation-dialog-title {
    color: #0E0E0E;
    font-size: .3rem;
    line-height: .42rem;
    text-align: center;
}

.star-rating > span {
    color: #0E0E0E;
    font-size: .2rem;
}

.star-rating > fieldset {
    margin: 0 .4rem;
}

.evaluation-dialog-textarea {
    width: 5.62rem;
    height: 1.38rem;
    border-radius: .14rem;
    border: 1px solid #848484;
    padding: .2rem;
}

.evaluation-dialog-btn {
    width: 1.27rem;
    line-height: .51rem;
    height: .51rem;
    font-size: .2rem;
    color: #0E0E0E;
    background: #FFE201;
    border-radius: .31rem;
    cursor: pointer;
}

.first-star-rating {
    margin-top: .5rem;
}

.other-star-rating {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.last-star-rating {
    margin-bottom: .5rem;
}