.login {
    background-image: url('../image/login_web.png');
}

.login_item {
    width: 4.4rem;
    padding: 0.4rem 0.4rem 0.3rem 0.4rem;
    box-shadow: 0 0 .2rem 0 rgba(176, 176, 176, 0.5);
    border-radius: .19rem;
    min-width: 293px;
}

.login_item_logo {
    font-size: .2rem;
    line-height: .28rem;
    letter-spacing: .06rem;
    -webkit-text-stroke: .02rem #303030;
    text-stroke: .02rem #303030;
}

.login_item_field {
    font-size: .16rem;
    padding: .08rem .1rem .08rem .17rem;
}

.login_item_field input {
    height: 0.4rem;
}

.login_item_error_msg {
    color: #FF3B3B;
    font-size: .12rem;
    line-height: .17rem;
    padding-left: .17rem;
}

.login_item_field_verify {
    align-items: flex-end;
    width: .88rem;
    height: .3rem;
    cursor: pointer;
}

.login_item_note {
    font-size: 12px;
    margin: .2rem .1rem 0 .17rem;
}

.login_item_submit-btn {
    margin-top: .3rem;
    padding-left: .3rem;
    padding-right: .3rem;
    height: .4rem;
    border-radius: .2rem;
    font-size: .16rem;
}

.login_item_info {
    margin-top: .2rem;
}

.avator_bg {
    width: 100%;
    height: 3rem;
    background: #B8E0EA url('../image/bg.png') no-repeat center;
}

.avator {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: -1rem auto .4rem auto;
    background: #eee no-repeat center;
    position: relative;
}

.avator_note {
    width: .8rem;
    height: .6rem;
    font-size: .3rem;
    border-radius: .16rem;
    color: #303030;
    background-color: #FFE201;
    line-height: .6rem;
    text-align: center;
    position: absolute;
    left: .6rem;
    bottom: -.3rem;
    z-index: 5;
}

.user_name {
    font-size: .4rem;
    color: #303030;
    margin-right: .5rem;
}

.user_edit-icon {
    font-size: .32rem;
    color: #848484;
}

.user_know-btn {
    width: 1.27rem;
    line-height: .51rem;
    border-radius: .31rem;
    font-size: .2rem;
    text-align: center;
    color: #0E0E0E;
    background-color: #FFE201;
}

.school {
    color: #303030;
    font-size: .24rem;
    margin-top: .2rem;
    text-align: center;
}

.desc-container {
    text-align: center;
    line-height: .28rem;
    font-size: .2rem;
    width: calc(100% - 10rem);
    margin: .35rem auto 0 auto;
    color: #848484;
    position: relative;
}

.desc:before {
    font-family: 'icomoon';
    color: #FFE201;
    content: "\e977";
    font-size: .11rem;
    position: absolute;
    left: -.4rem;
    top: 0;
}

.desc:after {
    font-family: 'icomoon';
    color: #FFE201;
    content: "\e978";
    font-size: .11rem;
    position: absolute;
    right: -.4rem;
    top: 0;
}

.num-container {
    display: flex;
    justify-content: center;
    margin-top: .4rem;
}

.num-item {
    width: 3.58rem;
    height: .72rem;
    border-right: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.num-item:last-child {
    border: none;
}

.num-item_value {
    font-size: .3rem;
    color: #040404;
}

.num-item_title {
    font-size: .2rem;
    color: #848484;
}

.sub-title__cn {
    font-size: .4rem;
    line-height: .56rem;
}

.sub-title__en {
    font-size: .31rem;
    line-height: .42rem;
}

.sub-title_bottom {
    width: 100%;
    height: .11rem;
    margin-top: -.13rem;
}

.conversation-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conversation-item {
    display: flex;
    width: 5.85rem;
    justify-content: center;
    align-items: center;
}

.conversation-title {
    width: 1rem;
    height: .6rem;
    color: #303030;
    background-color: #FFE201;
    font-size: .31rem;
    line-height: .6rem;
    border-radius: .1rem;
    text-align: center;
}

.conversation-desc {
    width: 3.92rem;
    color: #848484;
    font-size: .22rem;
    line-height: .3rem;
    margin-left: .2rem;
}

.evaluation-container {
    margin-top: .7rem;
    margin-bottom: 1.55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item {
     width: 4rem;
     height: 2.51rem;
     background: #FFFFFF;
     box-shadow: 0 .02rem .2rem 0 rgba(203, 203, 203, .5);
     border-radius: .2rem;
     position: relative;
 }

.evaluation-item_avator {
    position: absolute;
    top: -.49rem;
    left: .3rem;
    width: .98rem;
    height: .98rem;
    border-radius: 50%;
    background: #eee no-repeat center;
}

.evaluation-item_username {
    font-size: .24rem;
    height: .49rem;
    padding-left: 1.48rem;
    color: #040404;
    display: flex;
    align-items: flex-end;
}

.evaluation-item_desc {
    color: #848484;
    font-size: .2rem;
    line-height: .28rem;
    height: .8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: .3rem;
    position: relative;
}

.evaluation-item_bottom {
    height: .62rem;
    color: #848484;
    background: #F9F9F9;
    border-radius: 0 0 .2rem .2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item_bottom .title {
    font-size: .2rem;
    line-height: .28rem;
}

.evaluation-item_bottom .value {
    font-size: .3rem;
    line-height: .42rem;
}

.evaluation-item__active {
    width: 4.4rem;
    height: 2.6rem;
    background: #FFFFFF;
    box-shadow: 0 .02rem .22rem 0 rgba(203, 203, 203, .5);
    border-radius: .22rem;
    position: relative;
}

.evaluation-item_avator__active {
    position: absolute;
    top: -.54rem;
    left: .33rem;
    width: 1.08rem;
    height: 1.08rem;
    border-radius: 50%;
    background: #eee no-repeat center;
}

.evaluation-item_username__active {
    font-size: .26rem;
    height: .54rem;
    padding-left: 1.63rem;
    color: #040404;
    display: flex;
    align-items: flex-end;
}

.evaluation-item_desc__active {
    color: #848484;
    font-size: .22rem;
    line-height: .3rem;
    height: .88rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: .32rem .32rem .35rem .33rem;
    position: relative;
}

.evaluation-item_bottom__active {
    height: .68rem;
    background: #FFE201;
    border-radius: 0 0 .22rem .22rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evaluation-item_bottom__active .title {
    color: #303030;
    font-size: .22rem;
    line-height: .3rem;
}

.evaluation-item_bottom__active .value {
    color: #040404;
    font-size: .33rem;
    line-height: .46rem;
}

.personal-center_tab-title-container {
    margin: .6rem 3.97rem .6rem 3.97rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-title {
    font-size: .24rem;
    line-height: .33rem;
    color: #848484;
}

.tab-title__selected {
    display: inline-block;
    width: 1.8rem;
    height: .6rem;
    background-color: #FFE201;
    color: #303030;
    border-radius: .44rem;
    font-size: .24rem;
    line-height: .6rem;
    text-align: center;
}

.personal-center-content {
    margin: 0 2.95rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.item-container {
    width: 4.1rem;
    height: 3.86rem;
    background: #FFFFFF;
    box-shadow: 0 0.02rem 0.16rem 0 rgba(203, 203, 203, 0.5);
    border-radius: 0.2rem;
    margin-bottom: .6rem;
}

.image-container {
    width: 100%;
    height: 2.66rem;
    border-radius: .2rem .2rem 0 0;
    background-color: #eeeeee;
    position: relative;
}

.image-container_bottom {
    text-align: center;
    font-size: .16rem;
    line-height: .38rem;
    height: .38rem;
    padding-left: .06rem;
    padding-right: .06rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    bottom: 0;
}

.word-container {
    padding: .2rem .2rem .3rem .2rem;
    border-radius: 0 0 .2rem .2rem;
}

.word-desc {
    font-size: .2rem;
    line-height: .28rem;
    color: #303030;
    margin-bottom: .2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-note {
    font-size: .16rem;
    line-height: .22rem;
    color: #848484;
}

.word-note .title {
    margin-right: .1rem;
}

.word-note .value {
    margin-right: .3rem;
}

/* 弹窗-Modal */

/* 弹窗 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999;
    background:rgba(255,255,255,1);
    width: 8.97rem;
    max-height: 9.65rem;
    border-radius: .2rem;
    padding: .3rem .3rem .8rem .8rem;;
    box-shadow:0 .02rem .2rem 0 rgba(183,183,183,0.5);
}

.modal-content {
    margin: .3rem .5rem 0 0;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 9998;
}
.l-text{
    font-weight:500;
    color:rgba(48,48,48,1);
    font-size:.3rem;
    line-height:.42rem;
}

.mb20{
    margin-bottom:.2rem;
}
.mb25{
    margin-bottom:.25rem;
}
.mb30{
    margin-bottom:.3rem;
}
.mt42{
    margin-top:.42rem;
}
.m-button{
    background:rgba(255,226,1,1);
    border-radius:.31rem;
    padding:.12rem .23rem;
    font-size:.2rem;
    font-weight:500;
    color:rgba(14,14,14,1);
}
.m-text{
    font-weight:400;
    color:rgba(48,48,48,1);
    font-size:.2rem;
    line-height:.28rem;
}
ul.li-style{
    list-style: circle;
}
.li-text{
    font-weight:400;
    color:rgba(132,132,132,1);
    font-size:.2rem;
    line-height:.28rem;
}

.close-topRight{
    width: .3rem;
    height: .3rem;
    float: right;
    display: block;
}
.close-topRight img{
    width: 100%;
}
.ipt-wrap{
    width:100%;
    margin-bottom: .28rem;
}
.ph-text{
    color:rgba(48,48,48,1);
    border: none;
    outline: none;
    width:100%;
    font-weight:400;
    font-size:.2rem;
    line-height:.28rem;
}
.ipt-wrap:after{
    display: block;
    content: '';
    border:1px solid rgba(216,216,216,1);
    width:100%;
    margin-top: .2rem;
}

.li-text:before{
    content: "\2022";
    color: rgba(255,226,1,1);
    margin-right: .2rem;
    width:.08rem;
    height:.08rem;
}

.add-line{
    width:100%;
}

.add-line img{
    float: right;
    width:.33rem;
    height:.33rem;
    margin-bottom: .19rem;
}

.add-line:after{
    clear: both;
    display: block;
    content: '';
    border:1px solid rgba(255,226,1,1);
    width:100%;
}