@import "./resize.css";
html,body{
    /*font-size: 10px;*/
    overflow: auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fr{
    float:right;
}
.fl{
    float: left;
}
.ta-center{
    text-align: center;
}

.flex-box{
    display: flex;
    justify-content: space-between;
}

.stShow-title,.stShow-subtitle{
    font-weight:600;
    margin: 0 auto;
    text-align: center;
}
.stShow-title{
    color:rgba(48,48,48,1);
}

.stShow-subtitle{
    color:rgba(132,132,132,1);
}

.stShow-subtitle:after{
    content: "";
    display: block;
    background:rgba(255,226,1,1);
}

.person-pic{
    overflow: hidden;
    position: relative;
    border:1px solid rgba(151,151,151,1);
}

.person-pic img{
    width:100%;
}

.person-pic:hover .stu-desc{
    bottom: 0;
    transition:all 0.5s linear;
}

.stu-desc{
    text-align: center;
    background:rgba(63,63,63,0.52);
    font-weight:400;
    color:rgba(255,255,255,1);
    position: absolute;
}

.cards-wrap{
    width: 100%;
    overflow: auto;
}

.card-list{
    /*overflow-x: auto;*/
    display: flex;
    justify-content: space-between;
}
.card-list li{
    text-align: center;
    /*float: left;*/
}

/*.card-list li.active{*/
.cards-wrap .card-list li:hover{
    padding-top: 0;
}

.person-name{
    font-weight:400;
    color:rgba(4,4,4,1);
}
.person-uni{
    font-weight:400;
    color:rgba(132,132,132,1);
}

.cards-more{
    background:rgba(255,226,1,1);
    font-weight:500;
    color:rgba(14,14,14,1);
    text-align: center;
}


/* 学校列表 */
.filter-wrap{
    margin: .5rem 1.3rem .68rem 1.3rem;
}

.nation-title,.nation-item{
    float: left;
    font-weight:400;
    color:rgba(132,132,132,1);
    background:rgba(255,255,255,1);
}
.nation-title{
    color:rgba(48,48,48,1);
}
.nation-item img{
    vertical-align: middle;
}
.nation-item.active{
    color:rgba(48,48,48,1);
}
.search-wrap{
    cursor: pointer;
    position: relative;
}

.search-wrap input{
    float: left;
    caret-color: rgba(246,218,3,1);/* 光标颜色 */
    background: rgba(255,255,255,1);
    box-shadow: 0 0 .08rem 0 rgba(197,197,197,0.5);
    font-weight: 400;
    color: rgba(132,132,132,1);
    position: relative;
    box-sizing: border-box;
}

.search-wrap img{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}
/* 学校列表 */
.container{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
}
.container .card {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card-name,.card-eName{
    font-weight:400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-name{
    color:rgba(48,48,48,1);
}
.card-eName{
    color:rgba(132,132,132,1);
}
/* 换页签*/
.page-feed{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.page-num{
    background:rgba(241,241,241,1);
    border-radius:.06rem;
    text-align: center;
    box-sizing: border-box;
    color:rgba(132,132,132,1);
}
.page-num.active{
    background:rgba(255,226,1,1);
    color:rgba(48,48,48,1);
}
.page-num.page-next:hover,.page-num.page-pre:hover{
    background:rgba(255,226,1,1);
}

/* 学校详情 */
.uni-banner{
    width: 100%;
    text-align: center;
    background: #303030;
    position: relative;
    background: #eee no-repeat center;
    background-size: cover;
}
.headcnt-wrap{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left:0;
    z-index: 9999;
    width: 100%;
}
.uni-name{
    font-weight:500;
    color:rgba(255,255,255,1);
}
.uni-ename{
    font-weight:400;
    color:rgba(255,255,255,1);
}
.uni-desc{
    display: flex;
    align-items: flex-start;
}
.uni-desc .jee-quote-left , .uni-desc .jee-quote-right{
    color: rgba(255,226,1,1);
}
.nui-text{
    white-space: normal;
    font-weight:400;
    color:rgba(255,255,255,1);
}

/* 学生信息卡 */
.stu-info{
    display: flex;
    background:rgba(255,255,255,1);
}
.left-pic{
    border-radius: .2rem;
    background: #848484 no-repeat center;
    background-size: cover; 
    overflow: hidden;
}
.right-info{
    position: relative;
    flex-grow: 1;
}
.info-name{
    font-weight:400;
    color:rgba(4,4,4,1);
}
.info-intro{
    font-weight:400;
    color:rgba(132,132,132,1);
}


.corner-fraction{
    background:rgba(255,226,1,1);
    font-weight:500;
    text-align: center;
    color:rgba(48,48,48,1);
    position: absolute;
    right: 0;
    top:0;
}

/*媒体查询：@media 设备类型 and (设备特性)｛样式代码｝*/
@media (min-width: 1024px) {
    .stShow-title{
        margin-top: .6rem;
        font-size:.43rem;
        line-height:.6rem;
    }

    .stShow-subtitle{
        margin-top: .16rem;
        font-size:.31rem;
        line-height:.42rem;
    }

    .stShow-subtitle:after{
        height:.11rem;
        max-width: 2.5rem;
        margin: -.15rem auto .6rem;
    }

    .person-pic{
        width:2.68rem;
        height:3.58rem;
        border-radius:.16rem;
    }
    .stu-desc{
        padding: .21rem .35rem .18rem .32rem;
        box-shadow:0 .02rem .2rem 0 rgba(123,123,123,0.5);
        border-radius:0 0 .2rem .2rem;
        font-size:.2rem;
        line-height:.29rem;
        bottom: -2rem;
    }
    .card-list{
        /*max-width: 125%;*/
        margin-bottom: .63rem;
        /*margin-left: -12%;*/
    }
    .card-list li{
        margin: 0 .3rem;
        padding-top: .45rem;
    }
    /*.card-list li.active .person-pic{*/
    .card-list li:hover .person-pic{
        width:3.36rem;
        height:4.48rem;
    }

    .person-name{
        white-space: nowrap;
        margin-top: .21rem;
        font-size:.3rem;
        line-height:.42rem;
        color: #000;
    }
    .person-uni{
        margin-top: .1rem;
        font-size:.2rem;
        line-height:.29rem;
    }

    .cards-more{
        white-space: nowrap;
        padding: .11rem .23rem;
        border-radius:.31rem;
        font-size:.2rem;
        line-height: .28rem;
        margin: 0 auto .72rem;
        max-width: 1.27rem;
    }

    /* 学校列表-筛选搜索栏 */
    .filter-wrap{
        margin: .5rem 1.3rem .68rem 1.3rem;
    }

    .nation-list{
        float: left;
    }
    .nation-title,.nation-item{
        padding: .15rem .2rem;
        font-size:.16rem;
        line-height:.22rem;
        margin-right: .12rem;
    }
    .nation-title{
        padding:.15rem 0;
        font-size:.2rem;
        margin-right: .15rem;
    }
    .nation-item img{
        margin-right: .05rem;
        width:.2rem;
        height:.2rem;
    }
    .nation-item.active{
        box-shadow:0 .02rem .1rem 0 rgba(209,209,209,0.5);
        border-radius:25px;
    }
    .search-wrap{
        float: right;
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    }

    .search-wrap input{
        width: 0;
        box-shadow: 0 0 .08rem 0 rgba(197,197,197,0.5);
        border-radius:.3rem;
        padding: .09rem .2rem;
        font-size: .16rem;
        line-height: .22rem;
        transition: all .5s linear;
    }
    .search-wrap input.active{
        width: auto;
    }

    .search-wrap img{
        width:.4rem;
        height: .4rem;
    }
    /* 学校列表 */
    .container{
        padding: .71rem 1.57rem .8rem 1.93rem;
    }
    .col-l-4{
        width: 25%;
    }
    .card{
        display: inline-block;
        margin-bottom: .77rem;
        width: 2.67rem;
    }
    .card img{
        width: 1.1rem;
        height: 1.1rem;
    }
    .card-name,.card-eName{
        font-size:.2rem;
        line-height:.28rem;
    }
    .card-name{
        margin:.2rem auto 0;
    }
    .card-eName{
        margin-top: .09rem;
    }
    /*换页签*/
    .page-num{
        font-size: .16rem;
        min-width:.38rem;
        min-height: .38rem;
        padding:.08rem .16rem;
        line-height: .22rem;
        margin: 0 .05rem;
    }

    /* 学校详情 */
    .uni-banner{
        height: 5.16rem;
    }
    .headcnt-wrap{
        height: 5.16rem;
        padding: 1.3rem 4.44rem .94rem;
    }
    .uni-name{
        font-size:.45rem;
        line-height:.63rem;
    }
    .uni-ename{
        font-size:.42rem;
        line-height:.59rem;
        margin: .2rem 0 .6rem;
    }
    .nui-text{
        font-size:.2rem;
        line-height:.28rem;
        margin: 0 .3rem;
    }
    .uni-desc .jee-quote-left,.uni-desc .jee-quote-right{
        font-size: .4rem;
    }

    /* 学生信息卡 */

    .stus-container{
        padding: 0 1rem;
    }
    .stu-info{
        width:8rem;
        height:4.48rem;
        box-shadow:0 .02rem .2rem 0 rgba(203,203,203,0.5);
        border-radius:.2rem;
        margin: 0 .3rem .6rem;
    }
    .left-pic{
        border-radius: .2rem;
        margin-right: .5rem;
        width:3.36rem;
    }
    .right-info>.info-name{
        margin: .5rem 0 .12rem;
    }
    .info-name{
        font-size:.3rem;
        line-height:.42rem;
    }
    .info-data .info-name,.fl .info-name{
        margin-top:.34rem;
    }
    .info-intro{
        font-size:.2rem;
        line-height:.28rem;
    }
    .subject{
        margin-bottom: .1rem;
    }
    .subject-en{
        margin-bottom: .3rem;
    }
    .intro{
        margin-bottom: .34rem;
        margin-right: .61rem;
    }
    .info-data{
        margin-right: .78rem;
    }
    .corner-fraction{
        width:.8rem;
        height:.6rem;
        border-radius:0 .2rem 0 .2rem;
        font-size:.3rem;
        line-height:.6rem;
    }
}

@media (max-width: 1023px) {
    .stShow-title{
        margin-top: .21rem;

        font-size:.13rem;
        line-height:.18rem;
    }

    .stShow-subtitle{
        margin-top: .03rem;
        font-size:.08rem;
        line-height:.11rem;
    }

    .stShow-subtitle:after{
        height:.03rem;
        max-width: .55rem;
        margin: -.04rem auto .22rem;
    }

    .person-pic{
        width:.68rem;
        height:.91rem;
        border-radius:.04rem;
    }
    .stu-desc{
        padding: .06rem .09rem .06rem .08rem;
        box-shadow:0 .01rem .05rem 0 rgba(123,123,123,0.5);
        border-radius:0 0 .05rem .05rem;
        font-size:.05rem;
        line-height:.07rem;
        bottom: -1rem;
    }
    .card-list{
        margin-top: .21rem;
        /*max-width: 113%;*/
        margin-bottom: .15rem;
        margin-left: -8%;
    }
    .card-list li{
        margin: 0 .08rem;
        padding-top: .12rem;
    }
    /*.card-list li.active .person-pic{*/
    .card-list li:hover .person-pic{
        width:.86rem;
        height:1.14rem;
    }

    .person-name{
        margin-top: .07rem;
        font-size:.06rem;
        line-height:.08rem;
    }
    .person-uni{
        margin-top: .03rem;
        font-size:.05rem;
        line-height:.08rem;
    }

    .cards-more{
        padding: .04rem .08rem;
        border-radius:.08rem;
        font-size:.04rem;
        line-height: .05rem;
        margin: 0 auto .13rem;
        max-width: .32rem;
    }
    /* 学校列表-筛选搜索栏 */
    .filter-wrap{
        margin: .2rem .17rem .17rem;
    }

    .nation-title,.nation-item{
        padding: .06rem .08rem;
        font-size:10px;
        line-height:14px;
        margin-right: .06rem;
    }
    .nation-title{
        display: none;
    }
    .nation-item img{
        margin-right: .05rem;
        width:.1rem;
        height:.1rem;
    }
    .nation-item.active{
        box-shadow:0 .02rem .1rem 0 rgba(209,209,209,0.5);
        border-radius:.25rem;
    }

    .search-wrap{
        margin: .16rem;
        /*padding:.05rem .11rem;*/
    }
    .search-wrap input{
        max-height:.22rem;
        width:100%;
        box-shadow: 0 0 .04rem 0 rgba(197,197,197,0.5);
        border-radius:.17rem;
        padding: .09rem .2rem;
        font-size:9px;
        line-height:14px;
    }

    .search-wrap img{
        width:.22rem;
        height: .22rem;
    }
    /* 学校列表 */
    .container{
        padding: 0 .105rem .105rem;
    }
    .col-s-2{
        width: 50%;
    }
    .card{
        background:rgba(255,255,255,1);
        box-shadow:0 0 .08rem 0 rgba(207,207,207,0.5);
        border-radius:.06rem;
        padding: .16rem .22rem;
        margin: .16rem .135rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    .card img{
        width: .67rem;
        height: .67rem;
    }
    .card-name{
        font-size: 12px;
        line-height: .18rem;
        /*margin:.11rem auto 0;*/
    }
    .card-eName{
        font-size: 10px;
        line-height: .18rem;
        /*margin-top: .1rem;*/
    }
    /*换页签*/
    .page-num{
        font-size: .1rem;
        min-width:.23rem;
        min-height: .23rem;
        padding:.05rem .1rem;
        line-height: .13rem;
        margin: 0 .03rem;
    }
    /* 学校详情 */
    .uni-banner{
        height: 1.4rem;
    }
    .headcnt-wrap{
        height: 1.4rem;
        padding: .33rem .46rem .25rem;
    }
    .uni-name{
        font-size:.12rem;
        line-height:.16rem;
    }
    .uni-ename{
        font-size:.11rem;
        line-height:.16rem;
        margin: .06rem 0 .14rem;
    }
    .nui-text{
        font-size:.06rem;
        line-height:.09rem;
        margin:0 .1rem;
    }
    .uni-desc .jee-quote-left,.uni-desc .jee-quote-right{
        font-size: .3rem;
    }

    /* 学生信息卡 */
    .stu-info{
        width:3.43rem;
        height:1.92rem;
        box-shadow:0 .01rem .09rem 0 rgba(203,203,203,0.5);
        border-radius:.09rem;
        margin: 0 .16rem .16rem;
    }
    .left-pic{
        border-radius: .09rem;
        margin-right: .22rem;
        width:1.44rem;
    }
    .right-info>.info-name{
        margin: .22rem 0 .05rem;
    }
    .info-name{
        font-size:.13rem;
        line-height:.18rem;
    }

    .info-intro{
        font-size:.09rem;
        line-height:.12rem;
    }
    .subject{
        margin-bottom: .04rem;
    }
    .subject-en{
        margin-bottom: .13rem;
    }
    .intro{
        margin-bottom: .14rem;
        margin-right: .26rem;
    }
    .info-data{
        margin-right: .34rem;
    }
    .corner-fraction{
        width:.34rem;
        height:.26rem;
        border-radius:0 .09rem 0 .09rem;
        font-size:.13rem;
        line-height:.26rem;
    }
}