@import "./resize.css";
html,body{
    /*font-size: 10px;*/
    overflow: auto;
}
body{
    position: relative;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fr{
    float:right;
}