<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.wanmoxing.jishu.mapper.PurchaseMapper">  

	<resultMap id="purchaseResultMap" type="com.wanmoxing.jishu.bean.Purchase">
		<result property="id" column="ID"/>
		<result property="courseId" column="COURSE_ID"/>
		<result property="buyerId" column="BUYER_ID"/>
		<result property="payment" column="PAYMENT"/>
		<result property="paymentAdditionalInfo" column="PAYMENT_ADDITIONAL_INFO"/>
		<result property="paymentAmount" column="PAYMENT_AMOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="createdTime" column="CREATED_TIME"/>
		<result property="updatedTime" column="UPDATED_TIME"/>
	</resultMap>

    <insert id="insert" parameterType="com.wanmoxing.jishu.bean.Purchase">
        INSERT INTO jishu.T_PURCHASE(ID,COURSE_ID,BUYER_ID,PAYMENT,PAYMENT_ADDITIONAL_INFO,PAYMENT_AMOUNT,STATUS,CREATED_TIME,UPDATED_TIME) 
        VALUES(#{id},#{courseId},#{buyerId},#{payment},#{paymentAdditionalInfo},#{paymentAmount},#{status},#{createdTime},#{updatedTime});
    </insert>
    
    <update id="update" parameterType="com.wanmoxing.jishu.bean.Purchase">
        UPDATE jishu.T_PURCHASE 
        SET COURSE_ID=#{courseId},
        	BUYER_ID=#{buyerId},
        	PAYMENT=#{payment},
        	PAYMENT_ADDITIONAL_INFO=#{paymentAdditionalInfo},
        	PAYMENT_AMOUNT=#{paymentAmount},
        	STATUS=#{status},
        	CREATED_TIME=#{createdTime},
        	UPDATED_TIME=#{updatedTime}
        WHERE ID=#{id}
    </update>
    
    <select id="find" parameterType="int" resultMap="purchaseResultMap">
        SELECT *
      	FROM jishu.T_PURCHASE
      	WHERE ID=#{0}
    </select>
    
    <select id="findByBuyerId" parameterType="int" resultMap="purchaseResultMap">
        SELECT *
      	FROM jishu.T_PURCHASE
      	WHERE BUYER_ID=#{0}
    </select>
    
    <select id="findPayedNumPurchaseByBuyerId" parameterType="int" resultType="int">
        SELECT count(1)
      	FROM jishu.T_PURCHASE
      	WHERE BUYER_ID=#{0} and STATUS in ('payed')
    </select>
    
    <delete id="delete" parameterType="int">
        DELETE FROM jishu.T_PURCHASE WHERE ID=#{0}
    </delete>
    
</mapper>