<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.wanmoxing.jishu.mapper.TestMapper">  

    <insert id = "insert" parameterType="com.wanmoxing.jishu.bean.Test">
        INSERT INTO JISHU.TEST(ID,NAME) VALUES(#{id},#{name});
    </insert>
    
    <update id="update" parameterType="com.wanmoxing.jishu.bean.Test">
        UPDATE JISHU.TEST SET NAME=#{name} WHERE ID=#{id}
    </update>
    
    <select id="find" parameterType="int" resultType="com.wanmoxing.jishu.bean.Test">
        SELECT ID,NAME FROM JISHU.TEST WHERE ID=#{0}
    </select>
    
    <delete id="delete" parameterType="int">
        DELETE FROM JISHU.TEST WHERE ID=#{0}
    </delete>
    
</mapper>