<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.wanmoxing.jishu.mapper.UserMapper">  

	<resultMap id="userResultMap" type="com.wanmoxing.jishu.bean.User">
		<id property="id" column="ID"/>
		<result property="nickName" column="NICK_NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="cellPhone" column="CELL_PHONE"/>
		<result property="password" column="PASSWORD"/>
		<result property="headImage" column="HEAD_IMAGE"/>
		<result property="type" column="TYPE"/>
		<result property="status" column="STATUS"/>
		<result property="likeAmount" column="LIKE_AMOUNT"/>
		<result property="courseAmount" column="COURSE_AMOUNT"/>
		<result property="createdTime" column="CREATED_TIME"/>
		<result property="updatedTime" column="UPDATED_TIME"/>
	</resultMap>

    <insert id="insert" parameterType="com.wanmoxing.jishu.bean.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO jishu.T_USER(NICK_NAME,EMAIL,CELL_PHONE,PASSWORD,HEAD_IMAGE,TYPE,STATUS,LIKE_AMOUNT,COURSE_AMOUNT,CREATED_TIME,UPDATED_TIME) VALUES(#{nickName},#{email},#{cellPhone},#{password},#{headImage},#{type},#{status},#{likeAmount},#{courseAmount},#{createdTime},#{updatedTime});
    </insert>
    
    <update id="update" parameterType="com.wanmoxing.jishu.bean.User">
        UPDATE jishu.T_USER SET NICK_NAME=#{nickName},EMAIL=#{email},CELL_PHONE=#{cellPhone},PASSWORD=#{password},HEAD_IMAGE=#{headImage},TYPE=#{type},STATUS=#{status},LIKE_AMOUNT=#{likeAmount},COURSE_AMOUNT=#{courseAmount},CREATED_TIME=#{createdTime},UPDATED_TIME=#{updatedTime} WHERE ID=#{id}
    </update>
    
    <select id="findById" parameterType="int" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER WHERE ID=#{id}
    </select>
    
    <select id="findByNickname" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER WHERE NICK_NAME=#{nickName} and PASSWORD=#{password}
    </select>
    
    <select id="findByEmail" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER WHERE EMAIL=#{email} and PASSWORD=#{password}
    </select>
    
    <select id="findByPhoneNumber" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER WHERE CELL_PHONE=#{phoneNumber} and PASSWORD=#{password}
    </select>
    
    <select id="findByType" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER WHERE type=#{type}
    </select>
    
    <select id="findTotalAmountBySchool" parameterType="int" resultType="int">
        SELECT count(1) FROM jishu.T_SCHOOL_USER
        WHERE SCHOOL_ID=#{schoolId}
    </select>
    
    <select id="findBySchool" parameterType="java.util.Map" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER
        WHERE ID in (SELECT USER_ID FROM jishu.T_SCHOOL_USER WHERE SCHOOL_ID = #{schoolId})
        ORDER BY LIKE_AMOUNT
        <if test=" pageStart &gt;= 0 and pageAmount &gt; 0 ">
        LIMIT #{pageStart}, #{pageAmount}
        </if>
    </select>

    <select id="existenceByEmail" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER WHERE EMAIL=#{email}
    </select>
    
    <select id="existenceByPhoneNumber" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM jishu.T_USER WHERE CELL_PHONE=#{phoneNumber}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM jishu.T_USER WHERE ID=#{0}
    </delete>
    
</mapper>